
.Title, .nav  {
    padding: 1.5em 2em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
    
h1 {
    padding: 0 0.5em;
}

a.nav {
    text-decoration: none;
}

a.title {
    text-decoration: none;
    cursor: pointer;
    color: black;
}
