button {
    padding: 0 1em;
    margin-left: 3em;
    margin-top: 3em;
    border-radius: 20px;
    border: none;
   
}
.card-wrapper {
    margin-top: 3rem;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 4em;

    @media (min-width: 767px) {
    grid-template-columns: minmax(100px, 400px) 1fr;
    align-items: center;
    gap: 5rem;
  }

    @media (min-width: 1024px) {
    grid-template-columns: minmax(400px, 600px) 1fr;
  }
}

img {
    padding: 2em;
    height: auto;
    width: cover;
}

.country-facts-wrapper {
    padding-top: 2em;
    display: flex;
    line-height: 1.8;
    flex-direction: column;
    width: 100%;

    
}

.country-title {
   padding-bottom: 1em;

}

ul.country-list-facts  {
    column-count: 2;
    margin-right: 20px;
    padding-left: 1em;
    width: 100%
   
}

li.country-list-fact {
    padding-bottom: 0.5em;
    list-style: none;
 
  
  


}
